body {
  font-family: Arial, sans-serif;
  background-color: #a3d9f7;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

header {
  text-align: center;
  background-color: #fff;
  width: 100%;
  overflow: hidden;
}

main {
  display: grid;
  place-items: center;
  /* Adding padding to main ensures minimum spacing from viewport edges */
  padding: 2rem;
}

#aquarium {
  height: 70vh;
  width: 50vw;
  background-image: url('./imgs/aquarium.jpg');
  /*cover makes it so the image is fit in nicely*/
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
}

/* Fish container and fish style */
#fishContainer {
  position: absolute;
  padding: 30%;
  width: 128px;
}

#startFish {
  position: absolute;
  width: 64px; /* aadjust later */
  transition: transform 5s linear;
}

#actions button {
  margin: 0.5em;
}

footer {
}