/* this is the style file for the absolutely fish-tastic pocket pond web game. 
It is responsible for styling the webpage, aka connecting image links, doing the spacing,
and layout for the main aquarium screen. */

body {
  font-family: Arial, sans-serif; /* guys we gotta change this lol */
  background-color: #a3d9f7; /* and this */
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* header is just the white space on top for all the 'stats' (coins, health, buttons, etc) */
header {
  padding: 10px;
  column-count: 3; /* this makes the top part have all the stat stuff in it, header is basically the stat bar */
  text-align: center;
  background-color: #fff;
  width: 100%;
  overflow: hidden;
}

main {
  display: grid;
  place-items: center;
  /* Adding padding to main ensures minimum spacing from viewport edges */
  padding: 2rem;
}

#aquarium {
  margin-right: 17%;
  margin-left: 17%;
  height: 80vh;
  width: 95vw;
  background-image: url('./imgs/aquarium.jpg');
  /*cover makes it so the image is fit in nicely*/
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
}

/* Fish container and fish style */
#fishContainer {
  position: absolute;
  padding: 30%;
  width: 128px;
}

#startFish {
  position: absolute;
  width: 64px; /* aadjust later */
  transition: transform 5s linear;
}

#actions button {
  margin: 0.5em;
}